.nav-back-ground {
    background-color: #08c !important;
}

.navbar-brand {
    color: #fff !important;
}
.nav-link {
    color: #fff !important;
    padding: 0.2rem 0.8rem !important;
}

.active {
    color: #333 !important;
    background: #eee;
    padding: 3px 5px;
    border-radius: 4px;
}
