.heading{
    display: inline;
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}

.custom-nav-tab{
    border-bottom: 0 !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {    
    border-color: transparent !important;
}

// .nav-tabs .nav-link:hover {
//     border: 1p solid #fff !important;
// }

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: transparent !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #08c !important;
}

.nav-tabs .nav-link {
    color:#333 !important;
}

.flex-data{
    display: flex;
    margin-top:0.5rem;
}
.img-css{
    padding: 2px;
}
.flex-right{
    margin-left:2rem;
    display: flex;
    align-items: center;
}
.comp-name{
    color:#333;
    font-size: 1.5rem;
}
.comp-loc{
    color:#888;
    font-size: 1.1rem;
}
.comp-order{
    color:#08c;
    font-size: 0.9rem;
}