<cm-main-nav></cm-main-nav>
<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <img src="./../../../../../assets/images/customer.svg" alt="" width="35" height="35" />
            <div class="heading ml-2">Customer Information</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <ul class="nav nav-tabs custom-nav-tab" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active pl-0" id="customerDetail-tab" data-toggle="tab" href="#customerDetail"
                        role="tab" aria-controls="customerDetail" aria-selected="true"><i class="fa fa-th-list mr-1"
                            aria-hidden="true"></i>
                        customer Detail</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="customerOrder-tab" data-toggle="tab" href="#customerOrder" role="tab"
                        aria-controls="customerOrder" aria-selected="false"><i class="fa fa-first-order mr-1"
                            aria-hidden="true"></i> customer Order</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="customerEdit-tab" data-toggle="tab" href="#customerEdit" role="tab"
                        aria-controls="customerEdit" aria-selected="false"><i class="fa fa-pencil-square-o mr-1"
                            aria-hidden="true"></i>
                        Edit Customer</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="customerDetail" role="tabpanel"
                    aria-labelledby="customerDetail-tab">
                    <div class="container-fluid px-0">
                        <div class="row mt-2 mb-4">
                            <div class="col-12">
                                <ng-container *ngIf="customer; else error">
                                    <div class="flex-data">
                                        <img *ngIf="customer.gender === 'Male'" class="img-css"
                                            src="./../../../../../assets/images/male-customer.jpeg" alt="" width="130"
                                            height="130">
                                        <img *ngIf="customer.gender === 'Female'" class="img-css"
                                            src="./../../../../../assets/images/female-customer.png" alt="" width="130"
                                            height="130">
                                        <div class="flex-right">
                                            <div>
                                                <div class="comp-name">{{customer.customerName}}</div>
                                                <div class="comp-loc">{{customer.customerCompName}},
                                                    {{customer.customerCompAdd}}
                                                </div>
                                                <div><a href="">View Order</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <img class="w-100 mt-3" src="./../../../../../../assets/images/map_view.png" alt="">
                                </ng-container>
                                <ng-template #error>
                                    Some error while fething customer detail
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="customerOrder" role="tabpanel" aria-labelledby="customerOrder-tab">
                    <div class="mt-3">
                        <div class="container-fluid px-0">
                            <div class="row">
                                <div class="col-12 mt-4">
                                    customerOrder tab
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="customerEdit" role="tabpanel" aria-labelledby="customerEdit-tab">
                    <div class="container-fluid px-0">
                        <div class="row">
                            <div class="col-5 mt-3">
                                customerEdit tab
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>