<cm-main-nav></cm-main-nav>
<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <img src="./../../../../../assets/images/customer.svg" alt="" width="35" height="35" />
            <div class="heading ml-2">Customer Information</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <ul class="nav nav-tabs custom-nav-tab" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active pl-0" id="customerDetail-tab" data-toggle="tab" href="#customerDetail"
                        role="tab" aria-controls="customerDetail" aria-selected="true"><i class="fa fa-th-list mr-1"
                            aria-hidden="true"></i>
                        Customer Detail</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="customerOrder-tab" data-toggle="tab" href="#customerOrder" role="tab"
                        aria-controls="customerOrder" aria-selected="false"><i class="fa fa-first-order mr-1"
                            aria-hidden="true"></i> Customer Order</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="customerEdit-tab" data-toggle="tab" href="#customerEdit" role="tab"
                        aria-controls="customerEdit" aria-selected="false"><i class="fa fa-pencil-square-o mr-1"
                            aria-hidden="true"></i>
                        Edit Customer</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="customerDetail" role="tabpanel"
                    aria-labelledby="customerDetail-tab">
                    <div class="container-fluid px-0">
                        <div class="row mt-2 mb-4">
                            <div class="col-12">
                                <ng-container *ngIf="customer; else error">
                                    <div class="flex-data">
                                        <img *ngIf="customer.gender === 'Male'" class="img-css"
                                            src="./../../../../../assets/images/male-customer.jpeg" alt="" width="130"
                                            height="130">
                                        <img *ngIf="customer.gender === 'Female'" class="img-css"
                                            src="./../../../../../assets/images/female-customer.png" alt="" width="130"
                                            height="130">
                                        <div class="flex-right">
                                            <div>
                                                <div class="comp-name">{{customer.customerName}}</div>
                                                <div class="comp-loc">{{customer.customerCompName}},
                                                    {{customer.customerCompAdd}}
                                                </div>
                                                <div><a href="">View Order</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <img class="w-100 mt-3" src="./../../../../../../assets/images/map_view.png" alt="">
                                </ng-container>
                                <ng-template #error>
                                    Some error while fething customer detail
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="customerOrder" role="tabpanel" aria-labelledby="customerOrder-tab">
                    <div class="mt-3">
                        <div class="container-fluid px-0">
                            <div class="row">
                                <div class="col-12 mt-2">
                                    <ng-container *ngIf="customer.order.length !== 0; else noOrder">
                                        <table class="table">
                                            <tbody>

                                                <ng-container *ngFor="let order of customer.order; index as ord">
                                                    <tr>
                                                        <td>{{order.prodName}}</td>
                                                        <td class="text-right">&#8377; {{order.prodPrice}} <span
                                                                class="order-remove-btn"
                                                                (click)="removeOrder(ord)">Remove</span></td>
                                                    </tr>
                                                </ng-container>
                                                <tr>
                                                    <td class="bold-border">Grand Total</td>
                                                    <td class="text-right bold-border total-amt-adjust">&#8377;
                                                        {{getGrandTotal(customer.order)}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-container>
                                    <ng-template #noOrder>
                                        No order placed till now.
                                    </ng-template>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mt-2">
                                    <div class="prod-category-head">Other product to select</div>
                                </div>
                            </div>
                            <div class="row mt-4" *ngFor="let prod of prodList; inde as i">
                                <div class="col-12 mt-2 mb-2">
                                    <div class="prod-category"> {{prod.category}}</div>
                                </div>
                                <div class="col-3" *ngFor="let type of prod.types; inde as j">
                                    <div class="outer-boundry">
                                        <div class="add-order-btn-pos">
                                            <div class="add-order-btn pointer" (click)="addToOrder(i,j, type)">Add to
                                                Order</div>
                                        </div>
                                        <div class="img-parent">
                                            <img src="./../../../../../../assets/images/male-customer.jpeg" alt="">
                                        </div>

                                        <div class="prod-name">{{type.prodName}}</div>
                                        <div class="star-rating">
                                            <img *ngFor="let rate of getStarRating(type.prodStarRating)"
                                                src="./../../../../../../assets/images/star.png" alt="" width="12"
                                                height="12">
                                            <span>{{type.reviewedPeople}}</span>
                                        </div>
                                        <div class="price"><span>&#8377;</span>{{type.prodPrice}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="customerEdit" role="tabpanel" aria-labelledby="customerEdit-tab">
                    <div class="container-fluid px-0">
                        <div class="row">
                            <div class="col-5 mt-3">
                                <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <label for="name">Customer Name</label>
                                        <input type="text" class="form-control" id="name" aria-describedby="nameHelp"
                                            formControlName="customerName">
                                    </div>
                                    <div class="form-group">
                                        <label for="gender">Select Gender</label>
                                        <select class="form-control" id="gender" formControlName="gender">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="companyName">Customer Company</label>
                                        <input type="text" class="form-control" id="companyName"
                                            formControlName="customerCompName">
                                    </div>
                                    <div class="form-group">
                                        <label for="companyAdd">Customer Company Address</label>
                                        <input type="text" class="form-control" id="companyAdd"
                                            formControlName="customerCompAdd">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>