.heading{
    display: inline;
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}

.custom-nav-tab{
    border-bottom: 0 !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {    
    border-color: transparent !important;
}

// .nav-tabs .nav-link:hover {
//     border: 1p solid #fff !important;
// }

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: transparent !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #08c !important;
}

.nav-tabs .nav-link {
    color:#333 !important;
}

.flex-data{
    display: flex;
    margin-top:0.5rem;
}
.img-css{
    padding: 2px;
}
.flex-right{
    margin-left:2rem;
    display: flex;
    align-items: center;
}
.comp-name{
    color:#333;
    font-size: 1.5rem;
}
.comp-loc{
    color:#888;
    font-size: 1.1rem;
}
.comp-order{
    color:#08c;
    font-size: 0.9rem;
}
.bold-border{
    border-top: 2px solid rgb(87, 86, 86)
}
.prod-category-head{
    color:#333;
    font-size: 1.2rem;
    font-weight: bold;
}
.prod-category{
    color:#333;
    font-size: 1rem;
    font-weight: bold;
}
.outer-boundry{
    border:1px solid #eee;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}
.add-order-btn-pos{
    position: absolute;
    right: 0px;
    top: 0px;
}
.add-order-btn{
    background-color: yellow;
    padding: 5px;
    font-size: 0.8rem;
    border-top-right-radius: 5px;
}
.img-parent{
    text-align: center;
    img{
        width: 80px;
        height:100px;
    }
}
.prod-name{
    margin-top:1rem;
    font-size: 0.9rem;
    color: #888;
}
.star-rating{
    img{
    vertical-align: baseline;
    }
    span{
        margin-left: 0.5rem;
        font-size: 0.8rem;
    }
}
.price{
    span{
    font-size: 0.7rem;
    }
    font-size: 1.1rem;
    color: rgb(167, 48, 48);
}
.order-remove-btn{
    font-size: 0.8rem;
    color: #08c;
    margin-left:2rem;
    cursor: pointer;
}
.total-amt-adjust{
    padding-right: 100px;
}