<cm-main-nav></cm-main-nav>
<div class="container">
  <div class="row">
    <div class="col-12 mt-4">
      <img src="./../../../../../assets/images/customers.png" alt="" width="35" height="35" />
      <div class="heading ml-2">Customers</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-4">
      <ul class="nav nav-tabs custom-nav-tab" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active pl-0" id="card-tab" data-toggle="tab" href="#card" role="tab" aria-controls="card"
            aria-selected="true"><i class="fa fa-th-large mr-1" aria-hidden="true"></i> Card View</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list"
            aria-selected="false"><i class="fa fa-th-list mr-1" aria-hidden="true"></i> List</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="create-tab" data-toggle="tab" href="#create" role="tab" aria-controls="create"
            aria-selected="false"><i class="fa fa-plus mr-1" aria-hidden="true"></i>
            New Customer</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="card" role="tabpanel" aria-labelledby="card-tab">
          <div class="container-fluid px-0">
            <div class="row mt-5">
              <ng-container *ngIf="customers.length !== 0; else noCustomer">
                <ng-container *ngFor="let customer of customers; index as i">

                  <!-- <div class="col-3 mt-4">
                    <div class="card-layout">
                      <div class="name-plate">
                        {{customer.customerName}}
                        <i class="fa fa-pencil-square-o edit-pos" aria-hidden="true"></i>
                      </div>
                      <div class="flex-data">
                        <img *ngIf="customer.gender === 'Male'" class="img-css"
                          src="./../../../../../assets/images/male-customer.jpeg" alt="" width="80" height="80">
                        <img *ngIf="customer.gender === 'Female'" class="img-css"
                          src="./../../../../../assets/images/female-customer.png" alt="" width="80" height="80">
                        <div class="flex-right">
                          <div class="comp-name"></div>{{customer.customerCompName}}
                          <div class="comp-loc">{{customer.customerCompAdd}}</div>
                          <div><a href="">View Order</a></div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </ng-container>
              </ng-container>
              <ng-template #noCustomer>
                <div class="col-12 mt-4">
                  No Customer added till now...
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
          <div class="mt-3">
            <div class="container-fluid px-0">
              <div class="row">
                <div class="col-12 mt-4">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="w-25">Name</th>
                        <th scope="col">Company Name</th>
                        <th scope="col">Company Address</th>
                        <th scope="col">Order</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="customers.length !== 0; else noCustomer">
                        <ng-container *ngFor="let customer of customers; index as i">
                          <tr>
                            <th scope="row" class="p-1">
                              <img *ngIf="customer.gender === 'Male'" class="img-css"
                                src="./../../../../../assets/images/male-customer.jpeg" alt="" width="45" height="45">
                              <img *ngIf="customer.gender === 'Female'" class="img-css"
                                src="./../../../../../assets/images/female-customer.png" alt="" width="45" height="45">

                            </th>
                            <td>{{customer.customerName}}</td>
                            <td>{{customer.customerCompName}}</td>
                            <td>{{customer.customerCompAdd}}</td>
                            <td><a href="">View Order</a></td>
                          </tr>
                        </ng-container>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="create" role="tabpanel" aria-labelledby="create-tab">
          <div class="container-fluid px-0">
            <div class="row">
              <div class="col-5 mt-3">
                <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label for="name">Customer Name</label>
                    <input type="text" class="form-control" id="name" aria-describedby="nameHelp"
                      formControlName="customerName">
                  </div>
                  <div class="form-group">
                    <label for="gender">Select Gender</label>
                    <select class="form-control" id="gender" formControlName="gender">
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="companyName">Customer Company</label>
                    <input type="text" class="form-control" id="companyName" formControlName="customerCompName">
                  </div>
                  <div class="form-group">
                    <label for="companyAdd">Customer Company Address</label>
                    <input type="text" class="form-control" id="companyAdd" formControlName="customerCompAdd">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>