<cm-main-nav></cm-main-nav>
<div class="container">
  <div class="row">
    <div class="col-12 mt-4">
      <img src="./../../../../../assets/images/customers.png" alt="" width="35" height="35" />
      <div class="heading ml-2">Customers</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-4">
      <ul class="nav nav-tabs custom-nav-tab" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active pl-0" id="card-tab" data-toggle="tab" href="#card" role="tab" aria-controls="card"
            aria-selected="true"><i class="fa fa-th-large mr-1" aria-hidden="true"></i> Card View</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list"
            aria-selected="false"><i class="fa fa-th-list mr-1" aria-hidden="true"></i> List</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="create-tab" data-toggle="tab" href="#create" role="tab" aria-controls="create"
            aria-selected="false"><i class="fa fa-plus mr-1" aria-hidden="true"></i>
            create</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="card" role="tabpanel" aria-labelledby="card-tab">
          <div class="container-fluid px-0">
            <div class="row">
              <div class="col-3 mt-4">
                <div class="card-layout">
                  <div class="name-plate">
                    Rahul Kumar
                    <i class="fa fa-pencil-square-o edit-pos" aria-hidden="true"></i>

                  </div>
                  <div class="flex-data">
                    <img class="img-css" src="./../../../../../assets/images/male-customer.jpeg" alt="" width="80"
                      height="80">
                    <div class="flex-right">
                      <div class="comp-name"></div>Phoniex<div class="comp-loc">Arizona</div>
                      <div class="comp-order">View Order</div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
          list
        </div>
        <div class="tab-pane fade" id="create" role="tabpanel" aria-labelledby="create-tab">
          <div class="container-fluid">
            <div class="row">
              <div class="col-4 mt-4">
                <div class="card-layout">
                  Create
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>